<div>
  <figure>
    <img src="../../assets/iso-iphone-xs.jpg" alt="iso-iphone-xs">
  </figure>
  <hr>
  <h2>Phone Models</h2>

  <div class="displayflex">
    <div *ngFor="let product of products" class="phonemodels">
      <h3>
        <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
          {{ product.name }}
        </a>
      </h3>

      <p *ngIf="product.description">
        Description: {{ product.description }}
      </p>

      <button (click)="share()">
        Share
      </button>

      <app-product-alerts [product]="product" (notify)="onNotify()">
      </app-product-alerts>

    </div>
  </div>
</div>